*{
    text-align: center;
}

html{
    background-color: pink;
}
body{
    width: 500px;
    margin: auto;
    background-color: yellow;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
}
p{
    font-size: 1.3rem;
    font-family: 'Nanum Pen Script';
    background-color: aquamarine;
}
